*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: auto;
	margin: 0 auto;
	padding: 60px 0;
}

header{
	height: 100vh;
	background-image: url(../img/portada.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed; 
	background-position:center ;
	
}

.head{
	text-align: center;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	
}

.navegar{
	z-index: 1;
	position: fixed;
	top:30px;
	right: 30px;
	background:#fff;
	width: 40px;
	height: 40px;
	cursor:pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.menu-navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 30vw;
	height: 100%;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: transform .2s ease-in-out;
	transform: translate(110%);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}


.spread{
	transform:translate(0);
}

.menu-navegacion a{
	color: #fff;
	text-decoration: none;
}

.titulo{
	font-size: 60px;
	margin-bottom: 15px;
	color:#F9B307;
	
}

.bienvenida{
	background: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	padding:23px;
	color:#222;
}

.copy{
	font-weight: 300;
	font-size: 25px;
}

/*Nuestro Servicio*/

.subtitulo{
	text-align: center;
	font-weight: 300;
	color: #9f8ad0;
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor-servicio{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-servicio img{
	width: 40%;
}

.checklist-servicio{
	width: 45%;
}

.service{
	margin-bottom: 20px;
}

.n-service{
	margin-bottom: 7px;
	color: #9f8ad0;
}

.number{
	display: inline-block;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	line-height: 30px;
	margin-right: 5px;
}

.gallery{
	background: #f2f2f2;
}

.contenedor-galeria{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-galeria{
	object-fit: cover; 
	width:30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	cursor:pointer;
}

.imagen-light{  
	position: fixed; 
	display: flex;
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: transform .2s ease-in-out;  /* se anima translate */
}  /*  timing function easi in out 

 en esos .2 segundos va a aparecer show = parte negra con transparencia
*/

.agregar-imagen{
	            
	object-fit: cover;
	width: 60%;
	border-radius: 10px;
	transform: scale(0);
	transition: transform .2s .2s; 
}

.close{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	cursor: pointer;
}

.showImage{
	transform: scale(1);

}

.show{ 
	transform: translate(0);
}

.adopcion{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.cont-adopcion{
	width: 60%;
	margin-bottom: 20px;
	margin-left: 10px; 
	margin-right:10px;
	text-align: center;
}

.cont-adopcion img{
	width: 50%;
	display: inline-block;
	margin: auto; 
}

.n-adopcion{
	display: inline-block;
	margin-top:20px;
	width:100%;
	font-weight: 0;
}

footer{
	background: #9f8ad0;
	padding-bottom: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 40px;
}

.contact-us{
	width: 40%;
	color: #fff;

}

.brand{
	font-weight: 500;
	font-size: 40px;
	padding: 10px;
}

.brand+p{
	font-weight: 500;
	padding-left: 12px;
	text-indent: 0;
	text-align: justify;
}

.social-media{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.social-media-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color:#fff;
}

.social-media-icon:hover{
	background:#fff;
	color: #764ba2; 
}

.social-media-icon i{
	font-size: 30px;
	line-height: 60px;
}

.line{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	height: 2px;
	background:#fff;
	margin-bottom:50px;
	margin-top: 35px;
}


@media screen and (max-width: 800px){
	.menu-navegacion{
		width: 50vw;
	}
	.titulo{
		font-size: 40px;
	}
	.contenedor-servicio img{
		width: 80%;
		margin-bottom: 40px;

	}
	.checklist-servicio{
		width: 80%;
	}
	.service{
		margin-bottom: 30px;
	}
	.agregar-imagen{
		width: 80%;

	}

	.img-galeria{
		width: 45%;

	}
	.cont-adopcion{
		width: 80%;
	}
	.footer-content{
		justify-content: center;
	}
	.social-media{
		width: 80%;
		justify-content: space-evenly;
	}
	.social-media-icon{
		margin-left: 0;
	}

	.social-media i{
		margin-left: 0;

	}
	.contact-us{
		text-align: center;
		width: 80%;
		margin-bottom:40px ;
	}

}

@media screen and (max-width: 500px){
	.menu-navegacion{
		width: 65vw;

	}
	.agregar-imagen{
		width: 95px;
	}
	.adopcion{
		top:20px;
		right:20px;
	}
	.titulo{
		font-size: 30px;

	}
	.subtitulo{
		font-size: 30px;
	}
	.img-galeria{
		width: 95%;
	}
	.social-media{
		width: 100%;
	}
	.contact-us{
		width: 90%;
	}
} 